<!-- Main navigation -->
<header>

  <!-- Full Page Intro -->
  <div id="intro-section" class="view">

    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
      muted loop>
      <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
    </video>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container-fluid">

        <!--Section heading-->
        <h2 class="display-3 font-weight-bold text-center text-white pb-5">Good morning, Dani!</h2>

        <div class="row justify-content-center align-items-center">

          <div class="col-md-2 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="display-4 font-weight-bold">Lorem ipsum</h1>
            <hr class="hr-light">
            <h6 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
              fuga
              nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
              dolor molestiae, quisquam iste.</h6>
            <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
          </div>


          <div class="col-md-2 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="display-4 font-weight-bold">Lorem ipsum</h1>
            <hr class="hr-light">
            <h6 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
              fuga
              nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
              dolor molestiae, quisquam iste.</h6>
            <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
          </div>


        </div>

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

</header>
<!-- Main navigation -->

<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">

  <div class="footer-copyright text-center py-3">GitHub:
    <a href="https://github.com/dani3/IoT-Alexa-Automation"> dani3/IoT-Alexa-Automation</a>
    <mdb-icon fab icon="github" class="white-text ml-1"></mdb-icon>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->